<form method="POST" novalidate>
    {{ form.csrf_token }}
    {{ form.name(class="form-control form-control-lg py-3 mb-3", placeholder=form.name.label.text, rows="3", cols="40")}}
    <p>
      {% if form.name.errors %}
        {% for error in form.name.errors %}
          <span style="color: red">{{ error }}</span>
        {% endfor %}
      {% endif %}
    </p>
    {{ form.alternative(class="form-control form-control-lg py-3 mb-3", placeholder=form.alternative.label.text, rows="3", cols="40")}}
    <p>
      {% if form.alternative.errors %}
        {% for error in form.alternative.errors %}
          <span style="color: red">{{ error }}</span>
        {% endfor %}
      {% endif %}
    </p>
    {{ form.submit(class="button px-5 py-3 btn") }}
    <p class="py-3 mb-3">
      {% with messages = get_flashed_messages(category_filter=["unique_text"]) %}
        {% if messages %}
          {% for message in messages %}
            {{ message }}
          {% endfor %}
        {% endif %}
      {% endwith %}
    </p>
  </form>