<header class="pt-3">
    <nav class="navbar navbar-expand-lg navbar-light">
        <div class="container">
        <a class="navbar-brand" href="{{ url_for('tetris') }}">
            <img src="{{ url_for('static', filename='img/logo.svg') }}" height="50" class="" alt="" />
        </a>
        <div class="d-flex justify-content-end">
            <ul class="nav nav-pills">
            <li class="nav-item pe-5">
                <a class="nav-link" href="{{ url_for('all_view') }}">
                    Все новые токены
                </a>
            </li>
            <li class="nav-item pe-5">
                <a class="nav-link" href="{{ url_for('index_view') }}">
                    На главную
                </a>
            </li>

            <li class="nav-item pe-5">
                <a class="nav-link" href="{{ url_for('previous_view') }}">
                  Предыдущее изображение
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{{ url_for('next_view') }}">
                  Следующее изображение
                </a>
            </li>
            </ul>
        </div>
        </div>
    </nav>
</header>